// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-text {
    text-align: right;
    margin: 5px;
}

.avatar {
    margin-left: 5px;
}